* {
    margin: 0;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    color: #4b6584;
    font-family: 'Montserrat', sans-serif;
    font-kerning: auto;
    background-color: whitesmoke;
    /*background-color: transparent;*/
}

h1 {
    font-size: 1.8em;
    text-align: center;
    color: #fc5c65;
}

#selectionlist a, a:visited, a:hover {
    text-decoration: none;
    color: #fed330;
    display: block;
    margin: 0; padding: 0;
}

#selectionlist ul {
    list-style: none;
}

#selectionlist li {
    display: block;
    border-radius: 3px;
    background-color: #3867d6;
    padding: 0;
    margin: 10px 0;
    height: 100%;
}

#selectionlist i {
    margin-right: 15px;
    background-color: #fa8231;
    color: #f7b731;
    height: 100%;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

canvas {
    /*width: 100%!important;*/
    /*height: 100%!important;*/
}

video {
    /*width: 100%!important;*/
    /*height: 100%!important;*/
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #20bf6b;
}

#main {
    display: block;
    position: relative;
    margin: auto;
    padding: 0 2%;
    width: 85%;
    height: 100%;
}

#camera{
    display: none;
    position: absolute;
    margin: auto;
    padding: 0 2%;
    width: 100%;
    top: 0;left: 0;
    height: 100%;
}
